# Ignore everything except data/index
*

# But DO NOT ignore these:
!data/
!data/index/
!data/index/**

# Allow source code
!src/
!src/**
!requirements.txt
!Dockerfile
!cloudbuild.yaml
!gcloud_deploy.sh
!service.yaml
!README.md

# Allow static directories
!monitoring/
!monitoring/**
!data
!data/index
